img.header {
	width:100%;
	border: 2px solid #607202;
}

body{
	background:#fbfc56;
}

button {
	background:#cbe122;
	color: #adc400;
	height: 50px; 
}

footer {
	background: linear-gradient(to bottom, #adc400, transparent);
}

nav {
	margin: auto;
}

article {
	background:#cbe122;
}

aside {
	background:#cbe122;
}

hr {
	color: #526c01;
}