img.header {
	width:100%;
	border: 2px solid #607202;
}

body{
	background:#fbfc56;
}

button {
	background:#cbe122;
	color: #adc400;
	height: 50px; 
}

footer {
	background: linear-gradient(to bottom, #adc400, transparent);
	position: static;
	bottom: 0px;
}

nav {
	margin: auto;
}

article {
	padding: 10px;
	margin: 20px 3px 20px 5px;
	background:#cbe122;
}

aside {
	padding: 5px;
	margin: 20px 3px 20px 5px;
	background:#cbe122;
	width: 27%;
	float: right;
}

hr {
	color: #526c01;
}

article {
	width: 67%;
	float: left;
}